<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="table-head">
          <tr>
            <th><%= t('activerecord.role.name') %></th>
            <th><%= t('activerecord.role.active') %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @roles || t('buy-here.no_data')%>
        </tbody>
      </table>
      <div class="pagination-center">
        <%= will_paginate @role, class: "pagination" %>
      </div>
    </div>
  </div>
</div>
