.pagination {
  cursor: default;
  padding: 0.3em;
  text-align: center;
}
.pagination a, .pagination span, .pagination em {
  padding: 0.2em 0.5em;
}
.pagination .disabled {
  color: #000000;
}
.pagination .current {
  border: 1px solid #dddddd;
  border-radius: 5px;
  color: #000000;
  font-style: normal;
  font-weight: bold;
}
.pagination a {
  border-radius: 5px;
  border: 1px solid #4A60FF;
  color: #0063dc;
  text-decoration: none;
  margin-left: 0.3em;
}
.pagination a:hover, .pagination a:focus {
  border-color: #003366;
  background: #0063dc;
  color: white;
}
.pagination .page_info {
  color: #000000;
  padding-top: 0.8em;
}
.pagination .previous_page, .pagination .next_page {
  border-width: 2px;
  border-radius: 5px;
}
.pagination .previous_page {
  margin-right: 1em;
}
.pagination .next_page {
  margin-left: 1em;
}
.pagination-center {
  display: flex;
  justify-content: center;
}

