.table-responsive {
  text-align: center
}
.table-responsive th {
  text-align: center
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table-head {
  background-color: #6577FF;
}
#column-name {
  color: #FFFFFF;
}

th > a {
  color: #FFF;
}