<div class="modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="mainModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal_title"></h4>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"><%= t('activerecord.role.form.close') %></span></button>
      </div>
      <div class="modal_content">
        <div class="col-md-10 offset-md-1" id="modal_content"></div>
      </div>
    </div>
  </div>
</div> 