<div class="modal" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="mainModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="mainModalLabel">
          <%= yield :modal_title if content_for? :modal_title %>&nbsp;
        </h4>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-content">
        <%= yield %>
      </div>
      <%=  modal_footer_helper %>
    </div>
  </div>
</div>